<div class="col-lg-12 mb-1">
    <div id="simple-bar" class="data-scrollbar table-responsive" style="max-height: calc(100vh - 275px);">
        <BlazorTable Class="datatable w-100 mb-0" Items="objs.Skip((_page - 1) * 100).Take(100)" Context="item">
            <TableHeadTemplate>
                <tr style="z-index: 50;background: white;position: sticky;top: 0;box-shadow: 0 1px 1px -1px #615A5A;">
                    <th style="width: 15%" class="text-center">Barcode</th>
                    <th style="width: 10%" class="text-center">ProdOrderNo</th>
                    <th style="width: 10%" class="text-center">PackingNo</th>
                    <th style="width: 15%" class="text-center">ItemFullCode</th>
                    <th style="width: 7%" class="text-center">QtyOrder</th>
                    <th style="width: 15%" class="text-center">ItemName</th>
                    <th style="width: 15%" class="text-center">ColorName</th>
                    <th style="width: 10%" class="text-center">SizeName</th>
                </tr>
            </TableHeadTemplate>
            <TableRowTemplate>
                <tr>
                    <td>@item.Barcode</td>
                    <td>@item.ProdOrderNo</td>
                    <td>@item.PackingNo</td>
                    <td>@item.ItemFullCode</td>
                    <td class="text-center">@item.OrderQty</td>
                    <td>@item.ItemName</td>
                    <td>@item.ColorName</td>
                    <td>@item.SizeName</td>
                </tr>
            </TableRowTemplate>
            <TableFootTemplate>
                <tr style="z-index: 50;background: white;position: sticky;bottom: 0;box-shadow: 0 1px 1px -1px #615A5A;">
                    <td colspan="4">
                        <b>Total: </b>
                    </td>
                    <td class="text-center"><b>@objs.Sum(x => x.OrderQty ?? 0).ToString("#,##0.##")</b></td>
                    <td colspan="3">
                    </td>
                </tr>
            </TableFootTemplate>
        </BlazorTable>
    </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <div class="col-12 col-md-6" style="padding-top: 1rem">
            <span>Total <b class="text-primary">@objs.Count</b> records</span>
        </div>
        <div class="col-12 col-md-6">
            <BlazorTablePagination PageChangeEvent="(page) => _page = page"
                                   Class="pagination pagination-sm float-end"
                                   DisplayTotals="false"
                                   PagingSize="5"
                                   ActivePage="_page"
                                   PageSize="100"
                                   NoOfItems="objs.Count()" />
        </div>
    </div>
</div>
@code {
    [Parameter] public List<FilmProdOrder> objs { set; get; } = new List<FilmProdOrder>();

    protected int _page = 1;
}
